/* + Media queries breakpoints */
$screen-xs:                     480px;      // Extra small screen / phone
$screen-sm:                     768px;      // Small screen / tablet
$screen-md:                     992px;      // Medium screen / desktop
$screen-lg:                     1200px;     // Large screen / wide desktop
$screen-xl:                     1600px;     // Extra large screen / ultra wide desktop
// So media queries don't overlap when required, provide a minimum and maximum
$screen-xs-min:                 $screen-xs;
$screen-sm-min:                 $screen-sm;
$screen-md-min:                 $screen-md;
$screen-lg-min:                 $screen-lg;
$screen-xl-min:                 $screen-xl;
$screen-xs-max:                 ( $screen-sm-min - 1 );
$screen-sm-max:                 ( $screen-md-min - 1 );
$screen-md-max:                 ( $screen-lg-min - 1 );
$screen-lg-max:                 ( $screen-xl-min - 1 );
/* = Media queries breakpoints */


/* + Colors */
// color vars by usecases
$color-foreground:              #222;
$color-background:              #fff;
$color-primary:                 #f4b4e2;
/* = Colors */


/* + Typo */
@import "vendor/Sassy-Gridlover/_config.scss";
// font sizes
$font-size-normal:              $defaultFontSize;
$font-size-small:               11px;   // ~ 14 * 0.8
$font-size-large:               20px;   // ~ 14 * 1.5
// font stacks
$font-stack-sansserif:          "Helvetica Neue", Helvetica, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", Tahoma, Geneva,  Arial, sans-serif;
$font-stack-serif:              "Droid Serif", Georgia, "Lucida Serif", Lucida, "DejaVu Serif", Times, "Times New Roman", serif;
$font-stack-monospace:          Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
// line heights
$line-height-normal:            1.42857; // 20/14
/* = Typo */


/* + Spacings, Sizes, Relations */
$spacing-normal:                $font-size-normal;
$spacing-small:                 $spacing-normal * 0.5;
$spacing-large:                 $spacing-normal * 2;
/* = Spacings, Sizes, Relations */
